[submodule "code/neural_style_transfer/neural_style_gatys"]
	path = code/neural_style_transfer/neural_style_gatys
	url = https://github.com/jcjohnson/neural-style.git
[submodule "code/neural_style_transfer/fast_neural_style_johnson"]
	path = code/neural_style_transfer/fast_neural_style_johnson
	url = https://github.com/jcjohnson/fast-neural-style.git
[submodule "code/neural_style_transfer/texture_nets_ulyanov"]
	path = code/neural_style_transfer/texture_nets_ulyanov
	url = https://github.com/DmitryUlyanov/texture_nets.git
[submodule "code/neural_style_transfer/tensorflow_style_transfer"]
	path = code/neural_style_transfer/tensorflow_style_transfer
	url = https://github.com/lengstrom/fast-style-transfer.git
[submodule "code/neural_style_transfer/guided_style_transfer"]
	path = code/neural_style_transfer/guided_style_transfer
	url = https://github.com/wzirui/guided-neural-style.git
[submodule "code/neural_style_transfer/guided_style_transfer_2"]
	path = code/neural_style_transfer/guided_style_transfer_2
	url = https://github.com/cysmith/neural-style-tf.git
