"dat-unpacker-conv":
	path: "/home/otaj/files/dip/master-thesis/code/dat-unpacker/build/dat-unpacker"
	args: ["-i ../../data/valeo-data/US-042M760_20161001_004149_Y164_BL128_split_000_conv.dat -s 0"]
	cwd: "/home/otaj/files/dip/master-thesis/code/dat-unpacker"

"dat-unpacker-raw":
	path: "/home/otaj/files/dip/master-thesis/code/dat-unpacker/build/dat-unpacker"
	args: ["-i ../../data/valeo-data/US-042M760_20161001_004149_Y164_BL128_split_000.dat -s 0"]
	cwd: "/home/otaj/files/dip/master-thesis/code/dat-unpacker"
